pkgbase = pacmixer
	pkgdesc = alsamixer alike for PulseAudio.
	pkgver = 0.4.1
	pkgrel = 1
	url = https://github.com/KenjiTakahashi/pacmixer
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = gcc-objc
	depends = ncurses
	depends = libpulse
	depends = gnustep-base
	provides = pacmixer
	source = pacmixer-0.4.1.tar.gz::https://github.com/KenjiTakahashi/pacmixer/archive/0.4.1.tar.gz
	sha256sums = f1349b81a8fe342956182ae8f8febc9f8c55260a8a475a268ccd26d7fb75e3f7

pkgname = pacmixer

