pkgbase = pacmixer
	pkgdesc = alsamixer alike for PulseAudio.
	pkgver = 0.4
	pkgrel = 1
	url = https://github.com/KenjiTakahashi/pacmixer
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = gcc-objc
	depends = ncurses
	depends = libpulse
	depends = gnustep-base
	provides = pacmixer
	source = pacmixer-0.4.tar.gz::https://github.com/KenjiTakahashi/pacmixer/archive/0.4.tar.gz
	sha256sums = 7b29e6194fa67601338292a77bcac8000b800a0bccd7666b520824f3d90c4dfe

pkgname = pacmixer

